{% if attending %}
  <p>
    Thank you for responding to our wedding invitation.
  </p>

  <p>
    We look forward to seeing you on October 20th!
  </p>

  <p>
    Thank you,<br />
    Jeremy & Amanda<br />
  </p>
{% else %}
  <p>
    We are sorry you cannot make it. Thank you for your reply.
  </p>
{% endif %}
